#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.fold-toggle {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.toolbox {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;
  max-width: 600px;
  max-height: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  z-index: 10;
}
.slider-nameplate {
  position: relative;
}
